@font-face{
  font-family: "bebas";
  src: url(fonts/BebasKai.otf);
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background-color: #252525;
  color: #c0c0c0;
}

.light{
  background-color: #c0c0c0;
  color: #252525;
}

.button{
  font-size: larger;
  border-style: hidden;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  outline: none;
}

.toggle-button{
  font-size: larger;
  border-style: hidden;
  border-radius: 5px;
  height: 30px;
  margin-bottom: 10pt;
  outline: none;
}

.space{
  margin: auto;
  min-width: 40%;
  max-width: 600pt;
  padding: 10px;
  text-align: justify;
  font-family: bebas;
  letter-spacing: 1pt;
  word-spacing: 3pt;
}

h2{
  margin-top: 0pt;
  margin-bottom: 5pt;
}